.button-blue, 
.button-blue:hover, 
.button-blue:focus{
    color: white!important;
    background-color: blue!important;
    width: 150px;
    height: 50px!important;
    font-weight: 700;
}

.no-border,
.no-border:focus,
.no-border:hover{
    border: none!important;
}
.page-space{
    margin: 50px;
}
.child-center{
    display: grid!important;
    align-content: center;
}
.color-blue-light{
    color: #004eff;
}
.color-green-light{
    color:#008000c2;
}
.color-shadow{
    color: #f5f7f9;
}
.color-whight-dark{
    color: #999ca5;
}
.mt-5{
    margin-top: 5px!important;
}
.mt-10{
    margin-top: 10px!important;
}
.mt-15{
    margin-top: 15px!important;
}
.mt-20{
    margin-top: 20px!important;
}

.align-start{
    text-align: start;
}

.hero-fix-size .title {
    display: inline-block;
    max-width: 400px;
}
.hero-fix-size .subtitle {
    margin-top: 5px;
    max-width: 610px;
    display: inline-block;
}